@model AppointmentVM


<p>Appoinmtment Date: @Model.AppointmentDate.ToString("yyyy-MM-dd HH:mm")</p>
<p>Patient Name: @Model.PatientName</p>
<p>Doctor Name: @Model.DoctorName</p>
<p>Status: @Model.Status</p>